{% extends 'base.html.twig' %}

{% block body %}
      {% block stylesheets %}
        <link rel="stylesheet" href="{{asset ('/css/style.css')}}">
        {% endblock %}


<div class="body">

    <section class="spliter"> 
             
            <details> <summary class="box">images</summary>              
                <p class="neon2">1er lieu hanté</p>
                <img src="{{asset ('/img/haunted1.jpg')}}"></a>
            </details>

            <details> <summary class="box">descriptifs</summary>              
                <p class="neon2">manoir délabré</p>
            </details>

             <details> <summary class="box">emplacemment</summary>              
                <p class="neon2">Etats_Unis</p>
            </details>

    </section>
    <br>

        <section class="spliter"> 
             
            <details> <summary class="box">images</summary>              
                <p class="neon2">2eme lieu hanté</p>
                <img src="{{asset ('img/graveyard.webp') }}">
            </details>

            <details> <summary class="box">descriptifs</summary>              
                <p class="neon2">cimetière</p>
            </details>

             <details> <summary class="box">emplacemment</summary>              
                <p class="neon2">inconnu</p>
            </details>

    </section>
    <br>
        <section class="spliter"> 
             
            <details> <summary class="box">images</summary>              
                <p class="neon2">3eme lieu hanté</p>
                <img src="{{asset ('/img/hopsital.jpg')}}" alt="hopital maudit">
            </details>

            <details> <summary class="box">descriptifs</summary>              
                <p class="neon2">hopital abandonné</p>
            </details>

             <details> <summary class="box">emplacemment</summary>              
                <p class="neon2">Ecosse</p>
            </details>

    </section>
    <br>

        <section class="spliter"> 
             
            <details> <summary class="box">images</summary>              
                <p class="neon2">4eme lieu hanté</p>
                <img src="{{asset ('/img/asylum.png')}}" alt="asyle">
            </details>

            <details> <summary class="box">descriptifs</summary>              
                <p class="neon2">Asyle lugubre</p>
            </details>

             <details> <summary class="box">emplacemment</summary>              
                <p class="neon2">Allemagne</p>
            </details>

    </section>
    <br>

        <section class="spliter"> 
             
            <details> <summary class="box">images</summary>              
                <p class="neon2">5eme lieu hanté</p>
                <img src="{{asset ('/img/nightmare-castle.jpg') }}" alt="chateau isolé">
            </details>

            <details> <summary class="box">descriptifs</summary>              
                <p class="neon2">chateau isolé</p>
            </details>

             <details> <summary class="box">emplacemment</summary>              
                <p class="neon2">France</p>
            </details>

    </section>
    <br>

        <section class="spliter"> 
             
            <details> <summary class="box">images</summary>              
                <p class="neon2">dernier lieu hanté</p>
                <img src="{{asset ('/img/bloody-forest.webp') }}" alt="forêt sanglante">
            </details>

            <details> <summary class="box">descriptifs</summary>              
                <p class="neon2">forêt ensanglantée</p>
            </details>

             <details> <summary class="box">emplacemment</summary>              
                <p class="neon2">Japon</p>
            </details>

    </section>
    <br>
    <br>

    
</div>
<div class="container" style="background-image:url('{{ asset ('/img/rain.gif') }}')"
{% endblock %}
